<section class="member container">
	<div class="row">
		<div class="history-header">
			<h1><img src="<%-manager.picture%>" width="50" height="50"> &nbsp; <%-manager.username%></h1>
		</div>
	</div>
	<div class="row">
		<h1>Team</h1>
	</div>
	<div class="row">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#lol" role="tab" data-toggle="tab">League of Legends</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="lol">
			<table class="table">
			  <thead>
			  	<tr>
			  		<th></th>
			  		<th>Player Name</th>
			  		<th>Role</th>
			  		<th>ELO</th>
			  		<th>Rank</th>
			  		<th>Mood</th>
			  		<th>Age</th>
			  		<th>Cost</th>
			  		<th>Match History</th>
			  		<th>Offers</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<%for(var i = 0; i < players.length; i++) {%>
			  	<tr>
			  		<td><img src="<%-players[i].picture%>" width="25" height="25"></td>
			  		<td><%-players[i].name%></td>
			  		<td><%-players[i].role%></td>
			  		<td><%-players[i].visible_elo%></td>
			  		<td><%-players[i].rank%></td>
			  		<td><%-players[i].mood%></td>
			  		<td><%-players[i].age%></td>
			  		<td>$<%-players[i].value%></td>
			  		<td><a href="/player/history?id=<%-players[i].id%>" class="btn btn-info btn-sm">View History</a></td>
					<td>
						<%if(players[i].owner == user.username){%>
						<a href="/player/offers?id=<%-players[i].id%>" class="btn btn-warning btn-sm">View Offers</a>
						<%}else if(roles.indexOf(players[i].role) == -1){%>
						<a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#offerModal" id="<%-players[i].id%>">Make Offer</a>
						<%}else{%>
				  		Your team has a <%-players[i].role%>
						<%}%>
					</td>
			  	</tr>
			  	<%}%>
			  </tbody>
			</table>
		  </div>
		</div>
	</div>
</section>
<!-- Make Offer Modal -->
<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Make Offer</h2>
      </div>
      <form role="form" method="post" action="/offer/create">
        <div class="modal-body">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" name="amount" placeholder="Enter amount" required="">
              <input type="hidden" id="idInput" name="player_id" value="">
            </div>
			<div class="checkbox">
		      <label>
		        <input type="checkbox" required=""> I understand that the money specified in <strong>Amount</strong> will go towards my offer and will be refunded if the offer is declined <strong>or</strong> the user doesn't respond within 3 days. 
		      </label>
		    </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Make Offer</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- SCRIPTS -->
<script type="text/javascript">
	// SCRIPT TO PASS ID TO MODAL
	$(".btn.btn-success.btn-sm").click(function() {
		var id = $(this).attr('id');
		$("#idInput").val(id);
	});
</script>