<section class="players">
	<div class="container">
		<div id="insufficientFunds" class="alert alert-danger" role="alert" style="display:none;">You do not have enough money for this player!</div>
		<div class="row">
			<h1>Available Players <%if(user){%><span class="small">You have $<%-money%></span><%}%></h1>
		</div>
		<div class="row">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#lol" role="tab" data-toggle="tab">League of Legends</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane active" id="lol">
				<table class="table">
				  <thead>
				  	<tr>
				  		<th></th>
				  		<th>Player Name</th>
				  		<th>Role</th>
				  		<th>ELO</th>
				  		<th>Rank</th>
				  		<th>Age</th>
				  		<th>Cost/mo.</th>
				  		<th>Match History</th>
				  		<%if(user){%><th>Contract</th><%}%>
				  	</tr>
				  </thead>
				  <tbody>
				  	<%for(var i = 0; i < players.length; i++) {%>
				  	<tr>
				  		<td><img src="<%-players[i].picture%>" width="25" height="25"></td>
				  		<td><%-players[i].name%></td>
				  		<td><%-players[i].role%></td>
				  		<td><%-players[i].visible_elo%></td>
				  		<td><%-players[i].rank%></td>
				  		<td><%-players[i].age%></td>
				  		<td>$<%-players[i].value%></td>
			  			<td><a href="/player/history?id=<%-players[i].id%>" class="btn btn-info btn-sm">View History</a></td>
				  		<%if(user){%><td><a class="btn btn-success btn-sm" id="<%-players[i].id%>">Purchase</a></td><%}%>
				  	</tr>
				  	<%}%>
				  </tbody>
				</table>
			  </div>
			</div>
		</div>
	</div>
</section>

<%if(user){%>
<script type="text/javascript">
	// PURCHASE PLAYER SCRIPT
	$(".btn.btn-success.btn-sm").click(function() {
		var id = $(this).attr('id'),
		value = $(this).parent().prev().text().substring(1);
		if(<%-money%> < value) {
			$("#insufficientFunds").fadeIn().fadeOut(5000);
		} else {
			$.post(
	          '/player/purchase',
	          {id: id},
	          function() {
	      		$(this).parent().parent().fadeOut(2000); 
	            location.reload();
	          }
	      	);
		}
	});
	// TRADE PLAYER SCRIPT
	
</script>
<%}%>